Hello {{ name }}

{% if score > 80 %}
I'm happy to inform you did very well today's {{ test_name }}.
{% else %}
I'm sorry to inform you did not do so well today's {{ test_name }}.
{% endif %}
You reached {{ score }} out of {{ max_score }} points

Regards,
Husnu Sensoy